.login-btn{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    color: white;
}
.login-btn h1{
    font-size: 52px;
}
.login-logo{
    background-image: url('./Barbershop-img.png');
    background-repeat: no-repeat;
    background-size: contain;
    width: 80%;
    height: 200px;
    opacity: .9;
}
