<ion-header>
  <ion-navbar color='primary' >
    <ion-title>Edit Appointment</ion-title>
  </ion-navbar>
</ion-header>


<ion-content>
  <ion-list>

    <ion-item>
      <ion-label>Client Infomation</ion-label>
      <ion-select interface="popover" [(ngModel)]="event.title">
          <ion-option *ngFor='let contact of contacts' [value]='contact.c_first'>{{contact.c_first}} {{contact.c_last}}</ion-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>Type of Cut</ion-label>
      <ion-select interface="popover" [(ngModel)]="event.notes">
          <ion-option *ngFor='let service of services' [value]="service.service">{{service.service}}</ion-option>
      </ion-select>
    </ion-item>

    <ion-item>
        <ion-label>Start</ion-label>
        <ion-datetime displayFormat='MM/DD/YYYY hh:mm a' pickFormat='MM/DD/YYYY' [(ngModel)]='event.startTime' [min]='minDate' ></ion-datetime>
    </ion-item>
  
    <ion-item>
      <ion-label>End</ion-label>
      <ion-datetime displayFormat='MM/DD/YYYY hh:mm a' pickFormat='MM/DD/YYYY' [(ngModel)]='event.endTime' [min]='minDate' ></ion-datetime>
    </ion-item>

  </ion-list>

  <button color='secondary' ion-button full icon-left (click)='save()' >
    <ion-icon name='checkmark' ></ion-icon> Save event
  </button>
  <button color='light' ion-button full (click)='cancel()' >Cancel
  </button>
</ion-content>
