

<ion-header>
  <ion-navbar align-title="center" color='primary' >

    <ion-buttons left>
      <button ion-button icon-only menuToggle>
        <ion-icon name='ios-contact'></ion-icon>
      </button>
    </ion-buttons>

    <ion-title>Home</ion-title>

    <ion-buttons right>
      <button ion-button icon-only (click)='addEvent()' >
        <ion-icon name='add'></ion-icon>
      </button>
    </ion-buttons>

  </ion-navbar>

</ion-header>


<ion-content >

   <ion-card>
    <ion-card-header text-left color='primary' >Daily Stats</ion-card-header>
    <ion-card-content>
      <ion-list>

        <ion-item >
          <ion-icon name="logo-usd" item-start></ion-icon>
          <div class='stats-view' >
            <div>Wages:</div>
            <div>$300</div>
          </div>
        </ion-item>
        <ion-item >
          <ion-icon name="md-cash" item-start></ion-icon>
          <div class='stats-view' >
            <div>Tips:</div>
            <div>$48</div>
          </div>
        </ion-item>
        <ion-item >
          <ion-icon name="ios-clock-outline" item-start></ion-icon>
          <div class='stats-view' >
            <div>Time Spent on Cuts:</div>
            <div>89 mins</div>
          </div>
        </ion-item>
        <ion-item >
          <ion-icon name="md-calendar" item-start></ion-icon>
          <div class='stats-view' >
            <div>Upcomming Appointments:</div>
            <div>5</div>
          </div>
        </ion-item>

      </ion-list>


    </ion-card-content>

  </ion-card>

  <ion-card>
    <ion-card-header text-left color='primary'>{{ viewTitle }}</ion-card-header>
    <ion-card-content>
    <calendar
      [monthviewEventDetailTemplate]='template'
      [eventSource]='eventSource'
      [calendarMode]='calendar.mode'
      [currentDate]='calendar.currentDate'
      (onEventSelected)='onEventSelected($event)'
      (onTitleChanged)='onViewTitleChanged($event)'
      (onTimeSelcted)='onTimeSelected($event)'
      step='30'
      class='calendar'
    ></calendar>

    <ng-template #template let-showEventDetail="showEventDetail" let-selectedDate="selectedDate" let-noEventsLabel="noEventsLabel">
          <ion-list class="event-detail-container" has-bouncing="false" *ngIf="showEventDetail" overflow-scroll="false">
              <ion-item *ngFor="let event of selectedDate?.events" (click)="onEventSelected(event)">
                      <span class="monthview-eventdetail-timecolumn">
                        {{event.startTime|date: 'hh:mm a'}}
                          -
                          {{event.endTime|date: 'hh:mm a'}}
                      </span>
                  <span class="event-detail">  |  {{event.title}}</span>
              </ion-item>
              <ion-item *ngIf="selectedDate?.events.length==0">
                  <div class="no-events-label">{{noEventsLabel}}</div>
              </ion-item>
          </ion-list>
      </ng-template> 

    </ion-card-content>

  </ion-card>

</ion-content>
