.side-profile{
  font-size: 15pt;

}

.side-content{
  border-bottom: 1px solid #C8C7CC;
  margin-left: 15px;
}

.side-nav-icon{
  font-size: 120px;
  display: flex;
  justify-content: center;
  color: #C8C7CC;
  margin-top: 30px;
  margin-bottom: 30px;
}

.menu-icon{
  font-size: 35px;
  margin-right: 10%
}
