<!-- <ion-menu [content]="mycontent" type='overlay'>
    <ion-content class="side-profile">
      <ion-icon name="ios-contact" class="side-nav-icon"></ion-icon>
      <div style='text-align: center; padding: 2px; color: #ff4d4d;' >
        <h6>{{ profile?.b_first }} {{ profile?.b_last }}</h6>
      </div>
      <ion-list>
        <ion-item>
          <ion-label *ngIf="show">
            <ion-icon name="ios-clock-outline" class="menu-icon"></ion-icon>Clock-In</ion-label>
          <ion-label *ngIf="!show">
            <ion-icon name="ios-clock-outline" class="menu-icon"></ion-icon>Clock-Out</ion-label>
          <ion-toggle checked="false" [(ngModel)]="clockIn" (ionChange)="timeStamp()"></ion-toggle>
        </ion-item>
        <button ion-item class="menu-item">
          <ion-icon name="ios-notifications-outline" class="menu-icon"></ion-icon>
          Notifications
        </button>
        <button ion-item class="menu-item">
          <ion-icon name="ios-settings-outline" class="menu-icon"></ion-icon>
          Settings
        </button>
        <button (click)='logout()' ion-item class="menu-item">
          <ion-icon name="ios-power-outline" class="menu-icon"></ion-icon>
          Logout
        </button>
      </ion-list>
    </ion-content>
  </ion-menu> #mycontent  -->

<ion-nav [root]="rootPage"></ion-nav>
