<ion-header>
  <ion-navbar color='primary' >

    <ion-buttons left menuToggle>
      <button ion-button icon-only >
        <ion-icon name='ios-contact'></ion-icon>
      </button>
    </ion-buttons>

    <ion-title>Appointments</ion-title>

    <ion-buttons right>
      <button ion-button icon-only (click)='addEvent()' >
        <ion-icon name='add'></ion-icon>
      </button>
    </ion-buttons>

  </ion-navbar>
</ion-header>

<ion-content>
  <ion-toolbar>
    <ion-grid>
      <ion-row text-center >
        <ion-col> <a (click)='mode="day"'  > Upcoming </a> </ion-col>
        <ion-col> <a (click)='mode="month"' > Month  </a>  </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>


    <ion-card *ngIf='mode==="month"' >
      <ion-card-header text-left color='primary' >{{ viewTitle }}</ion-card-header>
      <ion-card-content>
      <calendar
        [monthviewEventDetailTemplate]='template'
        [eventSource]='eventSource'
        [calendarMode]='calendar.mode'
        [currentDate]='calendar.currentDate'
        (onEventSelected)='onEventSelected($event)'
        (onTitleChanged)='onViewTitleChanged($event)'
        (onTimeSelcted)='onTimeSelected($event)'
        step='30'
        class='calendar'
      ></calendar>

      <ng-template #template let-showEventDetail="showEventDetail" let-selectedDate="selectedDate" let-noEventsLabel="noEventsLabel">
            <ion-list class="event-detail-container" has-bouncing="false" *ngIf="showEventDetail" overflow-scroll="false">
                <ion-item *ngFor="let event of selectedDate?.events" (click)="onEventSelected(event)">
                        <span class="monthview-eventdetail-timecolumn">
                          {{event.startTime|date: 'hh:mm a'}}
                            -
                            {{event.endTime|date: 'hh:mm a'}}
                        </span>
                    <span class="event-detail">  |  {{event.title}}</span>
                </ion-item>
                <ion-item *ngIf="selectedDate?.events.length==0">
                    <div class="no-events-label">{{noEventsLabel}}</div>
                </ion-item>
            </ion-list>
        </ng-template> 

    </ion-card-content>

  </ion-card>

    <div *ngIf='mode==="day"' >
      <ion-list>
          <ion-item *ngFor='let event of current' (click)='apptStartModal(event)'>
            <div class='appt-info'>
              <div> {{ event.title }} </div>  
              <div> <p> {{ event.notes }} </p> </div>
            </div>
            <p>Start: {{ event.startTime }}</p>
          </ion-item>
      </ion-list>

    </div>



</ion-content>
